<header class="header">
  <a class="logo" [routerLink]="['/']">Logo</a>

  <nav class="nav nav__desktop">
    <ul class="nav__menu">
        <li class="nav__item">
          <a class="nav__link" [routerLink]="['about']" routerLinkActive="nav__link--active">About</a>
        </li>
    </ul>
  </nav>

  <nav class="nav nav__mobile">
    <button class="nav__trigger" (click)="showMenu()">Menu</button>
    <ul class="nav__menu nav__popup" *ngIf="isShown" (click)="showMenu()">
      <li class="nav__item"><a class="nav__link nav__link--popup" [routerLink]="['about']" routerLinkActive="active">Home</a></li>
      <li class="nav__item"><a class="nav__link nav__link--popup" [routerLink]="['about']" routerLinkActive="active">About</a></li>
    </ul>
  </nav>

</header>
