<section>
    <h2>Multi Class</h2>
    <div class="multi-class">
      <h3>Text-Group Component</h3>
      <hr/>
      <app-text-group type="block">
        <app-text type="secondary">Block</app-text>
        <app-text>Block</app-text>
      </app-text-group>
      <hr/>
      <app-text-group type="flex">
        <app-text>Just</app-text>
        <app-text>Flex</app-text>
      </app-text-group>
      <hr/>
      <app-text-group type="flex-between">
        <app-text>Flex</app-text>
        <app-text>between</app-text>
      </app-text-group>
      <hr/>
      <app-text-group type="flex-right">
        <app-text>Flex</app-text>
        <app-text>right</app-text>
      </app-text-group>            
    </div>
    <div class="multi-class">
      <h3>Text Component</h3>
        <h4>Types</h4>
        <app-text-group type="block">
          <app-text type="label-sm">text text__label-sm</app-text>
          <app-text type="label">text text__label</app-text>
          <app-text type="primary">text text__primary</app-text>
          <app-text type="secondary">text text__secondary</app-text>
        </app-text-group>

        <h4>Status</h4>
        <app-text-group type="block">
          <app-text type="primary" status="warning">text text__primary text__primary--warning</app-text>
          <app-text type="primary" status="success">text text__primary text__primary--success</app-text>
          <app-text type="primary" status="info">text text__primary text__primary--info</app-text>
        </app-text-group>
    </div>
</section>