
.flex{
  display:flex;
  flex-direction:column;
  margin:16px;
  border: 1px solid #efefef;
  &__header{
    padding: 4px 16px;
    background-color: rgba(0,0,0,.1);
  }
  &__body{
    display:flex;
    justify-content: space-between;
    padding: 4px 16px;
    &--left, &--right{
      display: flex;
    }
  }
  &__footer{
    padding: 4px 16px;
    background-color: rgba(0,0,0,.1);
    &--left, &--right{
      @extend .flex__body--left;
    }
  }
}