<h2>Flexbox</h2>
  <div class="flex">
    <div class="flex__header">
        <app-text-group type="flex-between">
          <app-text type="label">Label</app-text>
          <app-text type="label-sm">Value</app-text>
        </app-text-group>
    </div>
    <div class="flex__body">
      <div class="flex__body--left">
          <app-text-group type="block">
            <app-text type="label-sm">Long input value</app-text>
            <app-text type="primary"><strong>Another value</strong></app-text>
          </app-text-group>
      </div>
      <div class="flex__body--right">
          <app-text-group type="block">
              <app-text type="label-sm">Label</app-text>
              <app-text type="primary">Value</app-text>
            </app-text-group>

              <app-text-group type="block">
              <app-text type="label-sm">Label</app-text>
              <app-text type="primary">Value</app-text>
              </app-text-group>
      </div>
    </div>
    <div class="flex__footer">
        <app-text-group type="flex">
            <app-text type="label-sm">First</app-text>
            <app-text type="label-sm">Second</app-text>
            <app-text type="label-sm">Third</app-text>
            <app-text type="label-sm">Fouth</app-text>
        </app-text-group>
    </div>
  </div>